
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background:royalblue;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: royalblue;
  background: #ffffff;
}
nav ul li a.active:hover{
  color:white;
  background:darkblue;
}

nav ul li a:hover{
  color: darkblue;
  background: #ffffff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background:royalblue;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: darkblue;
    transition: .1s;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
.bg-image{

  width: 100%;
  height: 100vh;
  background-image:url(full-equiped-medical-cabinet.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  

}
.overlay{
  width: 100%;
  height: 100%;
  font-size: 26px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.404);

}
.overlay
{
text-align: center;
}
.overlay h1{
 font-size: 40px;
 color: azure;
 font-weight: 600; 
 transition: 0.3s;  
}
.overlay h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}
.overlay .Visit{
    text-decoration: none;
    display: inline-block;
    color: azure;
    font-size: 20px;
    border: none;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    background: royalblue;
}
.Visit:hover{
    
    text-decoration: none;
    display: inline-block;
    color:royalblue;
    font-size: 20px;
    border: none;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background:white;
    transition: .2s;
    
}
.sticky{
    position: flex;
    top: 0;
    width: 100%;

}
ul li ul.dropdown li {
  display: block;

}
ul li ul.dropdown{
  width: 100%;
  background:darkblue;
  position: absolute;
  z-index: 999;
  display: none;
  text-align: center;
}
ul li:hover ul.dropdown{
 display: block;
 width: 21%; 
 border: none;
 padding: 10px;
 border-radius: 10px;

}





